<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast</title>
    <nav>
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Chart</a></li>
            <li><a href="#">Search Bar</a></li>
            <li><a href="#">Kelola Playlist</a></li>
            <li><a href="#">Langganan Paket</a></li>
            <li><a href="#">Kelola Downloaded Songs</a></li>
            <li><a href="#">Kelola Podcast</a></li>
            <li><a href="#">Kelola Album & Songs</a></li>
            <li><a href="#">Kelola Album</a></li>
            <li><a href="#">Cek Royalti</a></li>
            <li><a href="#">Logout</a></li>
            
        </ul>
    </nav>
</head>
<body>
    <h1 style="text-align: center;">Podcast</h1>
    <div style="display: flex; justify-content: center;">
        <p style="margin-right: 10px;">Judul: {{podcast.title}}</p>
        
        <p style="margin-right: 10px;">Genre(s):</p>
        {% for genre in podcast.genres %}
            <p style="margin-right: 10px;">- {{genre}}</p>
        {% endfor %}
        <p style="margin-right: 10px;">Podcaster: {{podcast.podcaster}}</p>
        <p style="margin-right: 10px;">Total Durasi: {{podcast.time}}</p>
        <p style="margin-right: 10px;">Tanggal Rilis: {{podcast.release}}</p>
        <p style="margin-right: 10px;">Tahun: {{podcast.year}}</p>
    </div>
    <button style="display: block; margin: 0 auto; text-align: center;">Back</button>
    <h2 style="text-align: center;">Daftar Episode</h2>
    <table>
        <thead>
            <tr>
                <th>Judul</th>
                <th>Deskripsi</th>
                <th>Durasi</th>
                <th>Tanggal Rilis</th>
            </tr>
            
        </thead>
        <tbody>
            {% for episode in podcast.episodes %}
                <tr>
                    <td>{{episode.title}}</td>
                    <td>{{episode.description}}</td>
                    <td>{{episode.time}}</td>
                    <td>{{episode.release}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>