{% extends 'base.html' %}

{% load static %}

{% block title %}

<title>Podcast</title>

{% endblock title %}

{% block content %}

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h5>Podcast</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Judul: {{ podcast.judul }}</h5>
                <p class="card-text">Genre(s):</p>
                {% for genre in genres %}
                <p class="card-text">- {{ genre.genre }}</p>    
                {% endfor %}
                <p class="card-text">Podcaster: {{ podcast.nama }}</p>
                <p class="card-text">Total Durasi: {{ podcast.durasi }}</p>
                <p class="card-text">Tanggal Rilis: {{ podcast.tanggal_rilis }}</p>
                <p class="card-text">Tahun: {{ podcast.tahun }}</p>
                <button class="btn btn-primary" > Back
                </button>
            </div>
        </div>
        <div id="episode" class="container">
            <div class="card mt-4">
                <div class="card-header">
                    <h5>Episode</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Judul</th>
                                <th>Deskripsi</th>
                                <th>Durasi</th>
                                <th>Tanggal</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for episode in episodes %}
                            <tr>
                                <td>{{ episode.judul }}</td>
                                <td>{{ episode.deskripsi }}</td>
                                <td>{{ episode.durasi }}</td>
                                <td>{{ episode.tanggal }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>