{% extends 'base.html' %}
{% load static %}

{% block title %}

<title>Podcast Manager</title>

{% endblock title %}

<div class="container mt-4">
    <div class="card mb-3">
        <div class="card-header text-center">
            Podcast List
        </div>
        <div class="card-body">
            <div class="card-title">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Judul</th>
                            <th>Jumlah</th>
                            <th>Durasi</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="podcast">
                        {% for podcast in podcasts %}
                        <tr>
                            <td>{{ podcast.judul }}</td>
                            <td>{{ podcast.episode_count }}</td>
                            <td>{{ podcast.durasi }}</td>
                            <td>
                                <div class="btn">
                                    <a href="/podcast/{{podcast.id}}">Detail</a>
                                    <a href="/podcast/{{podcast.id}}/add">Tambah Episode</a>
                                    <a href="/podcast/{{podcast.id}}/delete">Delete</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="card mb-3">
            <div class="card-header text-center">
                Episode List pada {{ podcast.judul }}
            </div>
            <div class="card-body">
                <div class="card-title">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Judul</th>
                                <th>Deskripsi</th>
                                <th>Durasi</th>
                                <th>Tanggal</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Subjudul1</td>
                                <td>Deskripsi1</td>
                                <td>50menit</td>
                                <td>2021-08-01</td>
                                <td>
                                    <a href="/episode/{{ episode.id }}/delete">Delete</a>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}

</html>