<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Episode</title>
    <nav>
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Chart</a></li>
            <li><a href="#">Search Bar</a></li>
            <li><a href="#">Kelola Playlist</a></li>
            <li><a href="#">Langganan Paket</a></li>
            <li><a href="#">Kelola Downloaded Songs</a></li>
            <li><a href="#">Kelola Podcast</a></li>
            <li><a href="#">Kelola Album & Songs</a></li>
            <li><a href="#">Kelola Album</a></li>
            <li><a href="#">Cek Royalti</a></li>
            <li><a href="#">Logout</a></li>
            
        </ul>
    </nav>
</head>
<body>
    <h1 style="text-align: center;">Create Episode</h1>
    <form action="/add" method="POST">
        <label for="title">Judul:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <label for="description">Deskripsi:</label>
        <input type="text" id="description" name="description" required>
        <br>
        <label for="time">Durasi:</label>
        <input type="text" id="time" name="time" required>
        <br>
        <div style="text-align: center;">
            <button type="submit">Submit</button>
        </div>
</body>
</html>