<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episode List</title>
    <nav>
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Chart</a></li>
            <li><a href="#">Search Bar</a></li>
            <li><a href="#">Kelola Playlist</a></li>
            <li><a href="#">Langganan Paket</a></li>
            <li><a href="#">Kelola Downloaded Songs</a></li>
            <li><a href="#">Kelola Podcast</a></li>
            <li><a href="#">Kelola Album & Songs</a></li>
            <li><a href="#">Kelola Album</a></li>
            <li><a href="#">Cek Royalti</a></li>
            <li><a href="#">Logout</a></li>
            
        </ul>
    </nav>
</head>
<body>
    <table>
        <tr>
            <td colspan="5" style="text-align: center;">
                <h1> Daftar Episode </h1>
            </td>
        </tr>
        <thead>
            <tr>
                <th>Judul</th>
                <th>Deskripsi</th>
                <th>Durasi</th>
                <th>Tanggal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for episode in episodes %}
                <tr>
                    <td>{{ episode.title }}</td>
                    <td>{{ episode.description }}</td>
                    <td>{{ episode.time }}</td>
                    <td>{{ episode.release }}</td>
                    <td>
                        <a href="/episode/{{ episode.id }}/delete">Delete</a>
                    </td>
                </tr>
            {% endfor %}
    </table>
</body>
</html>