{% extends 'base.html' %}
{% load static %}

{% block title %}

<title>Downloaded Song</title>

{% endblock title %}




{% block content %}

<div class="container mt-4">
    <h1 class="mb-4">Daftar Lagu</h1>
    <table class="table table-bordered">
        <caption class="text-center">Riwayat Download</caption>
        <thead class="thead-light">
            <tr>
                <th scope="col">Judul Lagu</th>
                <th scope="col">Oleh</th>
                <th scope="col">Tanggal Download</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- for loop -->
            {% for song in downloaded_songs %}
            <tr>
                <td>{{ song.judul_lagu }}</td>
                <td>{{ song.nama_artis }}</td>
                <td>{{ song.tanggal_download_lagu }}</td>
                <td>
                    <a href="" class="btn btn-outline-primary">Lihat</a>
                    <a href="{% url 'main:downloaded_song_delete' song.judul_lagu %}"
                        class="btn btn-outline-danger">Hapus</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'main:dashboard' %}" class="btn btn-outline-secondary">Kembali</a>
</div>

<!-- Optional JavaScript and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}

</html>