{% extends 'base.html' %}
{% load static %}

{% block title %}

<title>Detail lagu</title>

{% endblock title %}




{% block content %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center">Download Complete!</h1>
            <hr>
            <div class="mb-3">
                <h5 class="card-subtitle mb-2 text-muted">Judul</h5>
                <p class="card-text">{{ konten.judul }}</p>
            </div>
            <div class="mb-3">
                <h5 class="card-subtitle mb-2 text-muted">Tanggal Rilis</h5>
                <p class="card-text">{{ konten.tanggal_rilis }}</p>
            </div>
            <div class="mb-3">
                <h5 class="card-subtitle mb-2 text-muted">Tahun</h5>
                <p class="card-text">{{ konten.tahun }}</p>
            </div>
            <div class="mb-3">
                <h5 class="card-subtitle mb-2 text-muted">Durasi</h5>
                <p class="card-text">{{ konten.durasi }}</p>
            </div>
            <a href="{% url 'main:dashboard' %}" class="btn btn-primary">Back to Home</a>
        </div>
    </div>
    {% endblock content %}

    </html>