<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paket Langganan</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <th>LANGGANAN PAKET</th>
            <th><a href="riwayat_transaksi.html">[Riwayat Transaksi]</a></th>
        </tr>
        <tr>
            <th>Jenis</th>
            <th>Harga</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>1 Bulan</td>
            <td>Rp54.900</td>
            <td><a href="pembayaran.html">[Berlangganan]</a></td>
        </tr>
        <tr>
            <td>3 Bulan</td>
            <td>...</td>
            <td><a href="pembayaran.html">[Berlangganan]</a></td>
        </tr>
        <tr>
            <td>6 Bulan</td>
            <td>...</td>
            <td><a href="pembayaran.html">[Berlangganan]</a></td>
        </tr>
        <tr>
            <td>1 Tahun</td>
            <td>...</td>
            <td><a href="pembayaran.html">[Berlangganan]</a></td>
        </tr>
    </table>
</body>

</html>