<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat Transaksi</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <h1>Riwayat Transaksi Paket</h1>
    <table>
        <tr>
            <th>Jenis</th>
            <th>Tanggal Dimulai</th>
            <th>Tanggal Berakhir</th>
            <th>Metode Pembayaran</th>
            <th>Nominal</th>
        </tr>
        <tr>
            <td>1 Bulan</td>
            <td>8 April 2024, 23:00</td>
            <td>8 Mei 2024, 23:00</td>
            <td>E-Wallet</td>
            <td>Rp54.900</td>
        </tr>
    </table>
    <a href="langganan_paket.html">[Kembali]</a>
</body>

</html>