<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart</title>
    <nav>
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Chart</a></li>
            <li><a href="#">Search Bar</a></li>
            <li><a href="#">Kelola Playlist</a></li>
            <li><a href="#">Langganan Paket</a></li>
            <li><a href="#">Kelola Downloaded Songs</a></li>
            <li><a href="#">Kelola Podcast</a></li>
            <li><a href="#">Kelola Album & Songs</a></li>
            <li><a href="#">Kelola Album</a></li>
            <li><a href="#">Cek Royalti</a></li>
            <li><a href="#">Logout</a></li>
            
        </ul>
    </nav>
</head>
<body>
    <table>
        <tr> Chart List</tr>
        <thead>
            <tr>
                <th>Tipe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {for chart in chart}
                <tr>
                    <td>{{chart.tipe}}</td>
                    <td>
                        <a href="/chart/{chart.id}">Detail</a>
                    </td>
                </tr>
        </tbody>
    </table>
</body>
</html>