{% extends 'base.html' %}
{% load static %}

{% block title %}

<title>Chart</title>

{% endblock title %}




{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-header">Chart List</h1>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tipe</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chart in charts %}
                    <tr>
                        <td>{{ chart.tipe }}</td>
                        <td>
                            <a href="/chart/{{ chart.id_playlist }}">Detail</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}

</html>