{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Detail Konten</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    Detail Konten
                </div>
                <div class="card-body">
                    {% if konten %}
                    {% for item in konten %}
                    <div class="info-item">
                        <span class="info-label">Judul:</span> {{ item.judul }}
                    </div>
                    <div class="info-item">
                        <span class="info-label">Tanggal Rilis:</span> {{ item.tanggal_rilis }}
                    </div>
                    <div class="info-item">
                        <span class="info-label">Tahun:</span> {{ item.tahun }}
                    </div>
                    <div class="info-item">
                        <span class="info-label">Durasi:</span> {{ item.durasi }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="info-item">
                        <span class="info-label">Nama Pembuat:</span> {{ nama }}
                    </div>
                    <div class="info-item">
                        <span class="info-label">Tipe:</span> {{ tipe }}
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'main:search_bar' %}" class="btn btn-outline-secondary">Kembali</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}