{% extends 'base.html' %}
{% load static %}

{% block title %}

<title>Search Bar</title>

{% endblock title %}




{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="content">
                <form action="{% url 'main:search' %}" method="get">
                    <div class="content-title">Search Bar</div>
                    <div class="search-input">
                        <input type="text" name="query" id="searchBar" class="form-control" placeholder="Search...">
                        <button type="submit" class="btn btn-primary search-button">Cari</button>
                    </div>
                </form>
                {% if results %}
                <p class="search-result-message">Hasil pencarian "{{ request.GET.query }}"</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Judul</th>
                            <th>Artist</th>
                            <th>Tipe</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in results %}
                        <tr>
                            <td>{{ item.judul }}</td>
                            <td>{{ item.nama }}</td>
                            <td>{{ item.tipe }}</td>
                            <td><a
                                    href="{% url 'main:detail_konten' judul=item.judul nama=item.nama tipe=item.tipe %}">Detail</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="search-result">No results found</p>
                {% endif %}
                <a href="{% url 'main:dashboard' %}" class="back-link">Kembali</a>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}

</html>