{% extends 'base.html' %}
{% load static %}

{% block title %}

<title>Dashboard</title>

{% endblock title %}




{% block content %}
<div class="container mt-4">
    <!-- Profil Pengguna -->
    <div class="card">
        <div class="card-header text-center">
            Profil Pengguna
        </div>
        <div class="card-body">
            <h5 class="card-title" id="nama">Nama: {{ data_user.nama }}</h5>
            <p class="card-text" id="email">Email: {{ data_user.email }}</p>
            <p class="card-text" id="kota-asal">Kota Asal: {{ data_user.kota_asal }}</p>
            <p class="card-text" id="gender">Gender: {% if data_user.gender == 1 %}Male{% else %}Female{% endif %}</p>
            <p class="card-text" id="tempat-lahir">Tempat Lahir: {{ data_user.tempat_lahir }}</p>
            <p class="card-text" id="tanggal-lahir">Tanggal Lahir: {{ data_user.tanggal_lahir|date:"F j, Y" }}</p>
            <p class="card-text" id="tempat-lahir">Role: {{ role }}</p>
        </div>

    </div>

    <!-- Daftar Playlist Pengguna Biasa -->
    <div class="card mt-4" id="playlist-card">
        <div class="card-header">
            Daftar Playlist Saya
        </div>
        <ul class="list-group list-group-flush" id="playlist-list">
            <!-- Contoh Playlist -->
            <li class="list-group-item">My Favorite Songs</li>
            <!-- Jika tidak memiliki playlist -->
            <li class="list-group-item">Belum Memiliki Playlist</li>
        </ul>
    </div>

    <!-- Daftar Lagu Artist/Songwriter -->
    {% if role == 'artist' or role == 'songwriter' %}
    <div class="card mt-4" id="lagu-card">
        <div class="card-header">
            Daftar Lagu Saya
        </div>
        <ul class="list-group list-group-flush" id="lagu-list">
            <!-- Contoh Lagu -->
            <li class="list-group-item">we can't be friends</li>
            <!-- Jika belum memiliki lagu -->
            <li class="list-group-item">Belum Memiliki Lagu</li>
        </ul>
    </div>
    {% endif %}

    {% if role == 'podcaster' %}
    <!-- Daftar Podcast Podcaster -->
    <div class="card mt-4" id="podcast-card">
        <div class="card-header">
            Daftar Podcast Saya
        </div>
        <ul class="list-group list-group-flush" id="podcast-list">
            <!-- Contoh Podcast -->
            <li class="list-group-item" style="display: none">Weekly Tech Update</li>
            <!-- Jika belum memiliki podcast -->
            <li class="list-group-item">Belum Memiliki Podcast</li>
        </ul>
    </div>
    {% endif %}

    {% if role == 'label' %}
    <!-- Daftar Album Label -->
    <div class="card mt-4" id="album-card">
        <div class="card-header">
            Daftar Album Diproduksi
        </div>
        <ul class="list-group list-group-flush" id="album-list">
            <!-- Contoh Album -->
            <li class="list-group-item">Hits of the Decade</li>
            <!-- Jika belum memproduksi album -->
            <li class="list-group-item">Belum Memproduksi Album</li>
        </ul>
    </div>
    {% endif %}
</div>

<!-- Optional JavaScript and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}

</html>