<!DOCTYPE html>
<html>

<head>
    <title>Landing Page</title>
    <nav class="navbar navbar-dark bg-danger">
        <div class="container">
            <a class="navbar-brand" href="#">Navigation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Search Bar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kelola Playlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="langganan_paket">Langganan Paket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kelola Downloaded Songs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kelola Podcast</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kelola Album & Songs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kelola Album</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cek Royalti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</head>

<body>
    <h1>Marmut - D5</h1>
    <button class="button">Login</button>
    <button class="button">Register</button>
</body>

</html>