<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="navbar.css">

    <nav>
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Chart</a></li>
            <li><a href="#">Search Bar</a></li>
            <li><a href="#">Kelola Playlist</a></li>
            <li><a href="#">Langganan Paket</a></li>
            <li><a href="#">Kelola Downloaded Songs</a></li>
            <li><a href="#">Kelola Podcast</a></li>
            <li><a href="#">Kelola Album & Songs</a></li>
            <li><a href="#">Kelola Album</a></li>
            <li><a href="#">Cek Royalti</a></li>
            <li><a href="#">Logout</a></li>
            
        </ul>
    </nav>
</head>
<body>
    <h1>Login</h1>
    
    <form method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Login</button>
    </form>
</body>
</html>