{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Register</title>
{% endblock title %}

{% block content %}

<body>

    <div class="container" style="margin-top: 200px;">
        <div class="card">
            <div class="card-header">
                <h1>Register</h1>
            </div>
            <div class="card-body" style="margin-left: 375px;">
                <div class="card-title">
                    <form method="POST">
                        {% csrf_token %}
                        <div id="role">
                            <label for="pengguna">Pengguna</label>
                            <input type="checkbox" id="pengguna" name="actor" value="pengguna" required>
                            <label for="label">Label</label>
                            <input type="checkbox" id="label" name="actor" value="label">
                        </div>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required><br>

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required><br>

                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required><br>
                        <div id="gender" style="display: block;">
                            <label for="gender">Gender:</label>
                            <select name="gender">
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                            </select><br>
                        </div>
                        <div id="place_of_birth" style="display: block;">
                            <label for="place_of_birth">Place of Birth:</label>
                            <input type="text" id="place_of_birth" name="place_of_birth"><br>
                        </div>
                        <div id="date_of_birth" style="display: block;">
                            <label for="date_of_birth">Date of Birth:</label>
                            <input type="date" id="date_of_birth" name="date_of_birth"><br>
                        </div>
                        <div id="city_origin" style="display: block;">
                            <label for="city_origin">City of Origin:</label>
                            <input type="text" id="city_origin" name="city_origin"><br>
                        </div>

                        <div id="interests">
                            <label for="interests">Role:</label><br>
                            <input type="radio" id="podcaster" name="role" value="podcaster">
                            <label for="podcaster">Podcaster</label><br>
                            <input type="radio" id="artist" name="role" value="artist">
                            <label for="artist">Artist</label><br>
                            <input type="radio" id="songwriter" name="role" value="songwriter">
                            <label for="songwriter">Songwriter</label><br>
                        </div>
                        <div id="phone_number_div" style="display: none;">
                            <label for="phone_number">Contact:</label>
                            <input type="text" id="contact" name="contact"><br>
                        </div>
                        <input type="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('input[name="actor"]').forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                if (this.checked) {
                    document.querySelectorAll('input[name="actor"]').forEach(function (otherCheckbox) {
                        if (otherCheckbox !== checkbox) {
                            otherCheckbox.checked = false;
                        }
                    });
                    if (this.value === 'label') {
                        document.getElementById('pengguna').removeAttribute('required');
                        document.getElementById('phone_number_div').style.display = 'block';
                        document.getElementById('contact').required = true;
                        document.getElementById('gender').style.display = 'none';
                        document.getElementById('gender').removeAttribute('required');
                        document.getElementById('place_of_birth').style.display = 'none';
                        document.getElementById('place_of_birth').removeAttribute('required');
                        document.getElementById('date_of_birth').style.display = 'none';
                        document.getElementById('date_of_birth').removeAttribute('required');
                        document.getElementById('city_origin').style.display = 'none';
                        document.getElementById('city_origin').removeAttribute('required');
                        document.getElementById('interests').style.display = 'none';

                    } else {
                        document.getElementById('pengguna').setAttribute('required');
                        document.getElementById('phone_number_div').style.display = 'none';
                        document.getElementById('contact').removeAttribute('required');
                        document.getElementById('gender').style.display = 'block';
                        document.getElementById('gender').setAttribute('required', 'true');
                        document.getElementById('place_of_birth').style.display = 'block';
                        document.getElementById('place_of_birth').setAttribute('required', 'true');
                        document.getElementById('date_of_birth').style.display = 'block';
                        document.getElementById('date_of_birth').setAttribute('required', 'true');
                        document.getElementById('city_origin').style.display = 'block';
                        document.getElementById('city_origin').setAttribute('required', 'true');
                        document.getElementById('interests').style.display = 'block';
                    }
                }
            });
        });
    </script>

    <!-- Optional JavaScript and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock content %}

</html>